/* Color used

Text color (dark gray): #2b2b2b;
Link color (green): #357b70;
Link visited color: #05676e;
Link active color: #489c79;
Button color: #357b70;

*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: navy;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --heading-weight: 700;
}

header {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px*/
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: #fbfdfd;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #fdfdfd;
}

button {
  /* overwrites browser defaults and resets the border*/
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button*/
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* gives the button border with a width of 2px, a type of solid, and color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: navy;
}

.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* page container*/
.page-container {
  position: relative;
  min-height: 80vh;
  place-items: center;
  text-align: center;
  background-color: #edc655;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#skills {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#skills td,
#skills th {
  border: 1px solid #ddd;
  padding: 8px;
}

#skills tr:nth-child(even) {
  background-color: #f2f2f2;
}

#skills tr:hover {
  background-color: #ddd;
}

#skills th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000e09;
  color: white;
}
/* footer */

footer {
  text-align: center;
  height: 2.5rem;
  position: absolute;
  width: 100%;
}

/* contact info */

.contact-info {
  text-align: center;
}

.contact-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 5px;
  background-color: #eaeaea;
  margin-bottom: 50px;
}

.contact-header {
  text-align: center;
}

.casestudy {
  text-align: left;
}

.case-img {
  max-width: 500px;
  max-height: 500px;
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
}

/* ends grid fallback */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin: 20px;
  }

  .project-list__item {
    background-color: lightgray;
    padding: 15px;
    width: auto;
    min-height: auto;
    margin: 10px;
  }
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  0% {
    transform: translate(446px, 48px);
  }
  100% {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*media quieries */

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .page-container {
    max-width: 230px;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  .page-container {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media all and (min-width: 500px) and (max-width: 767px) {
  .project {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: 1/ 1;
    grid-row: 1/ 1;
  }
  h1 {
    font-size: 22px;
  }

  .page-container {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .profile {
    grid-template-columns: 100%;
  }
}

.work {
  text-align: center;
}
